.toggle1 {
    width: 80px;
    height: 40px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .toggle1:hover {
    width: 80px;
    height: 40px;
    background-color: yellow;
    border: 1px solid red;
    border-radius: 10px;
    color: black;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .toggle2 {
    width: 80px;
    height: 40px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-size: small;
    display: none;
    justify-content: center;
    align-items: center;
    
  }
  .toggle2:hover {
    width: 80px;
    height: 40px;
    background-color: yellow;
    border: 1px solid red;
    border-radius: 10px;
    color: black;
    font-size: small;
    display: none;
    justify-content: center;
    align-items: center;
    
  }
.display1 {
    display:flex;
}

.display2 {
    display:none;
}